<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="index.css">
    <title>Shop</title>
</head>
<body>
    <div class="nav-bar">
    <div id="app">
        <div class="product">
        <img 
        v-bind:src="product.selected.img"
        class="img" />

     <div class="details" >
         <h1> {{ product.name }}</h1>
         <hr/>

         <span
         v-if="product.selected.cantidad > 50"
          class="stock in-stock">
             En stock.
         </span>
         <span
         v-else-if="product.selected-cantidad > 0 && product.selected.cantidad< 50" 
         class="stock low-stock">
            Pocas unidades disponibles.
        </span>
        <span 
        v-else
        class="stock no-stock">
            Sin stock.
        </span>
        <span>Select model:</span>
        <div class="colors">
            <span
            v-for="model in product.models"
            v-bind:key="model.id"
            v-bind:title="model.name"
            v-bind:style=" {backgroundColor: model.color }"
            v-bind:class="{ 'color-box' : true, 'color-selected': product.selected.id === model.id }"
            v-on:click="product.selected = model"
            >
            </span>
        </div>
    </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="index.js"></script>

</body>
</html>